<h2>Наши контакты:</h2>
<p>+3450034034003</p>

<h3>Связаться с нами можно отправив сообщение в форме ниже</h3>

<form action="/contacts" method="POST">
  <div class="form-group">
    <label for="email">Электропочта</label>
    <input name="email" type="email" class="form-control" placeholder="Leave your email here">
  </div>

  <div class="form-group">
    <label for="textarea">Ваше сообщение</label>
    <textarea name="textarea" class="form-control" rows="3" placeholder="Type your message here"></textarea>
  </div>

  <button>Отправить</button>


</form>