<table class="table table-striped">

    <thead>
      <td>Мастер</td>
      <td>Имя пользователя</td>
      <td>Время и дата</td>
      <td>Цвет волос</td>
    </thead>
    
  <body>  
    <% @results.each do |row| %>

      <tr>
        <td><%= row[1] %></td>
        <td><%= row[2] %></td>
        <td><%= row[3] %></td>
        <td><%= row[4] %></td>
      </tr>  

    <% end %>
  </body>  
</table>