<h2>Записаться на стрижку</h2>

<p>Введите ваши данные:</p>

<form action="/visit" method="POST">
  <div class="form-group">
    <label for="barber">Choose the barber</label>
    <select class="form-control" name="barber" ">
      <option>Walter White</option>
      <option>Jessie Pinkman</option>
      <option>Gus Fring</option>
    </select>
  </div>

  <div class="form-group">
    <label for="username">Имя</label>
    <input name="username" type="text" class="form-control" placeholder="Имя">
  </div>

  <div class="form-group">
    <label for="date">Дата</label>
    <input name="date" type="text" class="form-control" placeholder="Дата">
  </div>

  <button type="submit" class="btn btn-primary">Записаться</button>
</form>